<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Municipalidad</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <link rel="stylesheet" href="assets/main.css"/>
</head>
<body>
<div id="app" class="img-bg">
    <div class="overlay">

       <div>
            <transition name="fade" appear mode="out-in">

            <div key="3" v-if="seen">
                <div>
                    <div class="ui container">
                        <img src="assets/logo.png" class="ui centered small image" alt="mmun logo">
                    </div>
                    <div class="ui text container txt-white">
                        <h1 class="ui salmon header text-center">
                            ¡Que bueno verte por acá!
                        </h1>
                        <h4 class="text-center">Para construir un mejor lugar para vivir necesitamos saber quién
                            eres</h4>

                        <form class="ui form">
                            <div class="field">
                                <label for="">Nombre y Apellido</label>
                                <input type="text" name="name">
                            </div>
                            <div :class="['field', isRutValid()]">
                                <label>Run</label>
                                <input type="text" name="run" v-model="rut">
                            </div>

                            <div class="field">
                                <label>Fecha de nacimiento</label>
                                <div class="ui calendar txt-black" id="date">
                                    <vuejs-datepicker></vuejs-datepicker>
                                </div>

                            </div>

                            <div :class="['field', isEmailValid()]">
                                <label for="">Correo</label>
                                <input type="text" name="email" v-model="email">
                            </div>

                            <div :class="['field', isPhoneValid()]">
                                <label for="">Nº de teléfono</label>
                                <input type="text" name="phone" v-model="phone">
                            </div>


                            <div class="ui huge teal button fluid" v-on:click="seen = !seen">Get Started <i
                                    class="right arrow icon"></i></div>

                        </form>


                        <p class="ui text-center">
                            <small>
                                Al crear una cuenta en MejorMunicipio.com aceptas automáticamente los términos de
                                servicio y políticas de privicidad
                            </small>
                        </p>

                        <p class="text-center">
                            <i class="circle icon salmon"></i>
                            <i class="circle icon teal"></i>
                            <i class="circle icon teal"></i>
                            <i class="circle icon teal"></i>
                        </p>
                    </div>
                </div>
            </div>

            <div key="1" v-if="!seen">
                <div>
                    <div class="ui">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d832.3659696313243!2d-70.64023561184581!3d-33.437219079654085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c59966ce619d%3A0xaf52c03b366d363e!2sPaulino+Alfonso+390-18%2C+Santiago%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses!2scl!4v1547079676048"
                                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>

                    <div class="ui py-25 salmon-bg">
                        <h1 class="ui header inverted text-center">¿Ésta es tu ubicación?</h1>
                    </div>
                    <div class="ui container">
                        <div class="txt-white text-center">
                            <p>Queremos confirmar esta información para encontrar tu municipio</p>
                        </div>

                        <div class="ui huge teal button fluid" v-on:click="seen = !seen">Confirmar ubicación</div>

                        <p class="text-center">
                            <i class="circle icon teal"></i>
                            <i class="circle icon salmon"></i>
                            <i class="circle icon teal"></i>
                            <i class="circle icon teal"></i>
                        </p>

                    </div>
                </div>
            </div>
        </transition>
       </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.js"></script>
<script src="https://unpkg.com/vuejs-datepicker"></script>
<script src="assets/main.js"></script>
</body>
</html>