.img-bg {
    min-height: 100vh;
    width: 100vw;
    background: url('bg.jpg');
    background-size: cover;
}

.txt-white {
    color: white;
}

.field.has-success input {
    border-color: green !important;
}

.field.has-error input {
    border-color: red !important;
}